.shopping-cart{
    cursor: pointer;
    position: relative;
}

.cart-badge{
    padding: 0.1rem;
    background-color: #FF0063;
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 15px;
    font-size: small;
    min-width: 1rem;
    min-height: 1rem;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-cart-panel{
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    width: 30vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fafafa;
    font-size: large;
    box-shadow: 0 2px 3px lightgray;
}

.shopping-cart-panel.open{
    display: flex;
}

.cart-item{
    padding: 0.25rem;
}

.purchase-btn{
    background-color: var(--primary-color);
    color: white;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
}